@model ApplicationsViewModel

@if (Model != null && Model.Applications != null && Model.Applications.Count > 0)
{
    <div class="content-block">
        <p class="biggest-text font-family-2 white-text">Найдено заявок: @Model.Applications.Count</p>
    </div>

    <div class="content-block">
        <table class="line-table">
            <thead class="line-table-thead">
                <tr class="line-table-head-row">
                    <th class="line-table-head-cell cell-text-center"><p class="biggest-text font-family-2 white-text">Номер</p></th>
                    <th class="line-table-head-cell cell-text-center"><p class="biggest-text font-family-2 white-text">Время</p></th>
                    <th class="line-table-head-cell cell-text-center"><p class="biggest-text font-family-2 white-text">Имя</p></th>
                    <th class="line-table-head-cell cell-text-center"><p class="biggest-text font-family-2 white-text">e-mail</p></th>
                    <th class="line-table-head-cell cell-text-center"><p class="biggest-text font-family-2 white-text">Текст</p></th>
                </tr>
            </thead>
            <tbody class="line-table-body">
                @foreach (var application in Model.Applications)
                {
                    <tr class="line-table-body-row">
                        <td class="line-table-body-cell cell-text-center"><p class="middle-text font-family-2 black-text">@application.Number</p></td>
                        <td class="line-table-body-cell"><p class="middle-text font-family-2 black-text">@application.DateReceiptApplication.ToString("dd.MM.yyyy")</p></td>
                        <td class="line-table-body-cell"><p class="middle-text font-family-2 black-text cut-long-text">@application.GuestName</p></td>
                        <td class="line-table-body-cell"><p class="middle-text font-family-2 black-text cut-long-text">@application.GuestEmail</p></td>
                        <td class="line-table-body-cell">
                            <a class="application-details-link" asp-area="" asp-controller="Applications" asp-action="Details" asp-route-id="@application.Id">
                                <p class="middle-text font-family-2 black-text cut-long-text">@application.GuestApplicationText</p>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <div class="content-block">
        <p class="large-text font-family-2 white-text">Заявки не были найдены. Попробуте изменить условия поиска.</p>
    </div>

}

@section Scripts
{
<script>

</script>
}

