@model ApplicationModel

@{
    ViewData["Title"] = "Home";
}

<div class="header-block header-block-home">
    <a class="link-drive-logo" asp-area="" asp-controller="Home" asp-action="Index">
        <img class="drive-logo" src="/img/logos/drive-radio-logo.png" alt="drive-logo" />
    </a>
</div>

<div class="main-content-common">
    <div class="main-content-block main-content-color-block">
        <h1 class="h1-text text-in-center">Главная</h1>

        <p class="paragraph">
            @ViewBag.HomePageText
        </p>
    </div>

    <img class="main-content-block main-content-image" src="@ViewBag.HomePageImage" alt="home-page-image" />

    <div class="main-content-block main-content-color-block">
        <h2 class="h2-text text-in-center">Оставить заявку или задать вопрос</h2>

        <form id="CreateApplicationForm" class="form create-application" asp-area="" asp-controller="Home" asp-action="SubmitApplication" method="post">
            <input asp-for="Id" type="hidden" />
            <input asp-for="Status" type="hidden" />
            <input asp-for="DateReceiptApplication" type="hidden" value="@DateTime.Now"/>

            <div class="form-block-guest">
                <label asp-for="GuestName" class="form-label">Имя</label>
                <input asp-for="GuestName" type="text" class="form-text-field required" />
                <span class="application-error-message">@ViewBag.NameErrorMessage</span>
            </div>

            <div class="form-block-empty"></div>

            <div class="form-block-guest">
                <label asp-for="GuestEmail" class="form-label">E-mail</label>
                <input asp-for="GuestEmail" type="email" class="form-text-field required" />
                <span class="application-error-message">@ViewBag.EmailErrorMessage</span>
            </div>

            <div class="form-block-text">
                <label asp-for="GuestApplicationText" class="form-label">Текст сообщения</label>
                <textarea asp-for="GuestApplicationText" class="form-text-field form-textarea-field required"></textarea>
                <span class="application-error-message">@ViewBag.MessageErrorMessage</span>
            </div>

            <div class="form-block-button">
                <input class="button-link paragraph-large-text white-text" type="submit" value="Отправить" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script defer>
        let form = document.getElementById('CreateApplicationForm');
        let submit = form.querySelector('[type=submit]');

        let validateForm = function() {
            let requiredInputs = form.querySelectorAll('.required');
            let isValid = true;
            for(input of requiredInputs) {
                if(input.value.length == 0) {
                    isValid = false;
                }
            }
            submit.disabled = !isValid;
        }
        
        form.onkeyup = function(event) {
            validateForm();
        }

        validateForm();
    </script>
}